<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id          = "com.riccardocavalieri.fareparole"
    version     = "0.2.4" >

  <!-- versionCode is optional and Android only -->

  <name>Audio test app</name>

  <description>
    A breve una descrizione dell'app.
  </description>

  <author href="www.riccardocavalieri.com" email="riccardocavalieri@gmail.com">
    Riccardo Cavalieri
  </author>

  <!-- <feature name="Media">
    <param name="android-package" value="org.apache.cordova.media.AudioHandler" />
  </feature>
  <feature name="Device">
    <param name="android-package" value="org.apache.cordova.device.Device" />
  </feature> -->

  <!-- Core plugins -->
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.media" />

</widget>
